.box {
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}
.box2 {
    background-color: red;
    width: 200px;
    height: 200px;
}
.box3 {
    background-color: green;
    width: 200px;
    height: 200px;
}

.hr_line {
    visibility: hidden;
}

input {
    margin: 5px;
    display: block;
}